<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <title>Clyde's Real Survival SMP &bull; {{ page.title }}</title>

    <meta name="name" content="Clyde's Real Survival SMP &bull; {{ page.title }}" />
    <meta name="description" content="A very cool minecraft SMP that updates to every version starting from b1.0." />
    <meta name="keywords" content="crss, minecraft, beta, alpha, release, new, 1.0, version, {{ page.title }}" />
    <meta name="theme-color" content="#537F53" />

    <meta property="og:site_name" content="Clyde's Real Survival SMP" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:url" content="https://crss.cc{{ page.path }}" />
    <meta property="og:image" content="https://crss.cc/_internal/card?page={{ page.path }}" />
    <meta property="og:description" content="A very cool minecraft SMP that updates to every version starting from b1.0." />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="crss.cc" />
    <meta property="twitter:url" content="https://crss.cc{{ page.path }}" />
    <meta name="twitter:title" content="Clyde's Real Survival SMP &bull; {{ page.title }}" />
    <meta name="twitter:description" content="A very cool minecraft SMP that updates to every version starting from b1.0." />
    <meta name="twitter:image" content="https://crss.cc/_internal/card?page={{ page.path }}" />

    <script type="importmap">
      {
        "imports": {
          "@crss/": "/js/"
        }
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Clyde's Real Survival SMP",
        "alternateName": [ "CRSS" ],
        "url": "https://crss.cc"
      }
    </script>

    <link rel="canonical"  href="https://crss.cc{{ page.path }}" />

    <link rel="icon"       href="/favicon.ico" />
    <link rel="stylesheet" href="/css/style.min.css" />

    {% if is_dev %}
      <script async data-id="five-server" src="http://localhost:5500/fiveserver.js"></script>
    {% endif %}
  </head>
  <body>