{% if reduced %}
  <title>{{ pageTitle }} &bull; Clyde's Real Survival SMP</title>
{% else %}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">

      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

      <title>{{ pageTitle }} &bull; Clyde's Real Survival SMP</title>

      <meta name="name" content="Clyde's Real Survival SMP &bull; {{ pageTitle }}" />
      <meta name="description" content="A very cool minecraft SMP that updates to every version starting from b1.0." />
      <meta name="keywords" content="crss, minecraft, beta, alpha, release, new, 1.0, version" />
      <meta name="theme-color" content="#ffffff" />

      <meta property="og:site_name" content="Clyde's Real Survival SMP" />
      <meta property="og:title" content="{{ pageTitle }}" />
      <meta property="og:type" content="website" />
      <meta property="og:locale" content="en_UK" />
      <meta property="og:url" content="https://crss.blurryface.xyz{{ pageUri }}" />
      <meta property="og:image" content="https://crss.blurryface.xyz/img/social_image.png" />
      <meta property="og:description" content="A very cool minecraft SMP that updates to every version starting from b1.0." />

      <meta name="twitter:card" content="summary_large_image" />
      <meta property="twitter:domain" content="crss.blurryface.xyz" />
      <meta property="twitter:url" content="https://crss.blurryface.xyz{{ pageUri }}" />
      <meta name="twitter:title" content="Clyde's Real Survival SMP &bull; {{ pageTitle }}" />
      <meta name="twitter:description" content="A very cool minecraft SMP that updates to every version starting from b1.0." />
      <meta name="twitter:image" content="https://crss.blurryface.xyz/img/social_image.png" />

      <script src="/js/main.js" type="module"></script>

      {% if pageUri == '/map' %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

        <link rel="stylesheet" href="/css/map.min.css" />

        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet-mouse-position@1.2.0/src/L.Control.MousePosition.min.js"></script>
      {% endif %}

      <link rel="icon"       href="/favicon.ico">
      <link rel="stylesheet" href="/css/style.min.css">
    </head>
    <body>
{% endif %}