{% include 'includes/head.twig' %}

{% include 'includes/hero.twig' %}
{% include 'includes/nav.twig' %}

<main class="pageContent">
  <div class="container">
    <h1>About Us</h1>

    <p>
      We are a small team running this server.
    </p>

    <h2 id="rules">Team</h2>

    <div class="teamList">
      {% for member in props.team %}
        <div class="teamCard">
          <div class="memberBanner" {% if member.banner %}data-has-background="yes" style="--background: {{ member.banner }}"{% endif %}>
            <img src="{{ member.picture }}" width="104" height="104" alt="{{ member.name }}'s Profile Picture" />
          </div>

          <div class="memberContent">
            <ul class="memberLinks">
              {% for link in member.links %}
                <li>
                  {% set attributes = ({ 'class': 'icon' } | merge((link.icon.extra ? link.icon.extra : {}))) %}

                  <a href="{{ link.url }}" title="{{ link.name }}">
                    {{ icon(link.icon.id, attributes) | raw }}
                  </a>
                </li>
              {% endfor %}
            </ul>

            <h3>{{ member.name }}</h3>
            <label>
              {% if member.role == 0 %}
                Owner
              {% elseif member.role == 1 %}
                Admin
              {% else %}
                N/A
              {% endif %}
            </label>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}