{% include 'includes/head.twig' with {'pageTitle': nation.name} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': 'nation'} %}
    
<main class="pageContent container">
  <ul>
    <li>
      code: {{ nation.short }}
    </li>
    <li>
      name: {{ nation.name }}
    </li>
    <li>
      flag: 
    </li>
    <li>
      <img height="48px" src="{{ nation.flag }}"  alt="{{ nation.name }}'s flag." />
    </li>
    <li>
      description: {{nation.description}}
    </li>
  </ul>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}