{% include 'includes/head.twig' with {'pageTitle': 'Profile'} %}

<div class="pageHero" id="hero">
  <div class="blurFiler">
    <div class="container">
      <h1>Clyde's Real Survival SMP</h1>
    
      <div class="serverInfo">
        Online: <label>0</label> / <label>20</label>
      </div>
    </div>
  </div>
</div>

{% include 'includes/nav.twig' with {'page': 'profile',} %}
    
<main class="pageContent" id="content">
  <div class="container">
    <ul>
      <li>
        id: {{ user.id }}
      </li>
      <li>
        username: {{ user.username }}
      </li>
      <li>
        global_name: {{ user.global_name }}
      </li>
      <li>
        accent_color: {{ user.accent_color }}
      </li>
      <li>
        premium_type: {{ user.premium_type }}
      </li>
      <li>
        public_flags: {{ user.public_flags }}
      </li>
      <li>
        is_admin: <label>{{ db_data.is_admin }}</label>
      </li>
    </ul>
  </div>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}